<style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            padding: 20px;
        }

        .card {
            border: 1px solid grey;
            padding: 10px;
            margin: 10px 0;
        }

        .dark {
            background-color: #111;
            color: white;
        }

        .dark.card {
            border-color: #444;
        }

    </style>